.spinner-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lihome{
  list-style: none;
}

.over{
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;

}

.cardli{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 1rem;
  
}

.product-card{
  width: 300px;
  height: 300px;
  border: 1px solid #999;
  padding: 2rem;
  
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
}


.detail{
  display: flex;
}

#carousel{
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.cardcar{
  width: 600px;
  height: 600px;
}

.btnsearch{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
 
}

.mb-3{
  padding: 2rem;
}


  
  